POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/test_text_search

ELASTIC_CLIENT=http://elasticsearch:9200
ELASTIC_INDEX_NAME=posts
